#nav{
    background-color: rgb(39, 75, 101);
}
#footer{
    background-color: rgb(39, 75, 101);
}
#btn1:hover{
    background-color:whitesmoke;
}
#btn2:hover{
    background-color:whitesmoke;
    
}
